* {
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
}


body{
	background: url(../img/wallpaper_menu.jpg) no-repeat center center fixed;
	background-size: cover;
	padding: 40px 0;
}

.outlook {
	margin:0 auto;
}

.contact-section h1{
	text-align: center;
	color: #ddd;
}

.border{
	width: 650px;
	height: 10px;
	background: #34495e;
	margin: 40px auto;
}

.contact-form{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}


.backbtn{
	float: left;
	width: 120px;
	border: 0;
	background: #34495e;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.backbtn: hover{
	background: #2980b9;
}
